<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon">

    <title>HUBBS</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="css/lib/font-awesome.css" rel="stylesheet">
    <!-- Zocial CSS -->
    <link href="css/lib/zocial.css" rel="stylesheet">
    <!-- Nivo Lightbox CSS -->
    <link href="css/lib/nivo-lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="css/lib/nivo-themes/default/default.css" type="text/css" />
    <!-- STYLE CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- SCHEME CSS -->
    <link href="css/scheme/red.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll">
    <div id="loader"></div>
    <div id="main-wrapper">
        <div id="sidebar">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="sscroll" href="#home">Home</a>
                        </li>
                        <li><a class="sscroll" href="#services">About Us</a>
                        </li>
                        <li><a class="sscroll" href="#about">Board</a>
                        </li>
                        <li><a class="sscroll" href="#students">Students</a>
                        </li>
                        <li><a class="sscroll" href="#portfolio">Sponsors</a>
                        </li>
                        <li><a class="sscroll" href="#constitution">Constiution</a>
                        </li>
                        <li><a class="sscroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>


        </div>
        <div id="container">
            <!-- BEGIN HOME -->
            <section id="home" class="home">
                <!-- Superslides -->
                <div id="home-slide">
                    <ul class="slides-container text-center">
                        <li>
                            <a href="#about">
                              <div class="slide-text">
                                  <h2>Meet the HUBBBS board!</h2>
                                  <span>Click here for our bios, pictures, and contactt information.</span>
                                  <br/>
                              </div>
                            </a>
                            <div class="slide-filter"></div>
                            <div style="background-image: url('images/board.jpg');" class="bg-parallax parallaxize"></div>
                        </li>
                        <li>
                            <a href="http://outforundergrad.org/">
                              <div class="slide-text">
                                  <h2>Going to OUBC or OUTC this year?</h2>
                                  <span>Click here to find more about this year's O4U business and tech conferences</span>
                                  <br/>
                              </div>
                            </a>
                            <div class="slide-filter"></div>
                            <div style="background-image: url('images/O4U.png');" class="bg-parallax parallaxize"></div>
                        </li>
                    </ul>
                    <nav class="slides-navigation slidez">
                        <a href="javascript:;" class="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="javascript:;" class="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </nav>
                </div>
                <!-- End of Superslide -->
            </section>
            <!-- END HOME -->
            <!-- BEGIN SERVICES -->
            <section id="services" class="services">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-content">
                            <h2>About Us</h2>
                            <h3>Welcome Letter from the <a href="#about">HUBBS Board</a>.
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-12 mg-bt-80">
                      <p>Dear Members of the BGLTQ and Allied Community,</p>
                      <p>We are excited to begin the first year of The Harvard College Queer Students & Allies Committee for Undergraduate BGLTQ Business Students (HUBBS). HUBBS is dedicated to opening pathways for BGLTQ students interested in finance, consulting, technology, and other business sectors to pursue their career goals, and the committee is open to any undergraduate member of the BGLTQ and allied community at Harvard interested in business. Given that BGLTQ students are underrepresented in the business sector, our goal is to connect, advise, and support these students who are considering careers in business.</p>
                      <p>We already have many events planned for the upcoming year. In September, we will be hosting three career panel & mixer events about financial services, consulting, and technology. In October, we will be hosting an information session with Harvard Business School (HBS) for BGLTQ undergraduates in Greater Boston interested in pursuing an MBA. In November, our members will attend two nationwide BGLTQ conferences: Out for Undergrad's (O4U) business and technology conferences, OUBC and OUTC, hosted at the headquarters of J.P. Morgan and Twitter, respectively. In the first round of applications for these conferences, HUBBS recruited more Harvard students to apply than any other university in the nation. Throughout the year, HUBBS will be partnering with the HBS LGBT Students Association to provide a mentorship program for BGLTQ students interested in finance, consulting, technology, and other business sectors. The mentorship program will involve one-on-one meetings, social events, and workshops led by current BGLTQ HBS students.</p>
                      <p>If you are a student interested in joining, please check out our "Students" page, and if you are an employer looking to connect with our students by participating in a panel, information session, or workshop with HUBBS, please check out our "Sponsors" page. BGLTQ and allied Harvard alumni looking to interact with our members should reach out on our "Contact Us" page or email one of our board members. We also encourage you to like us on Facebook and sign up for our email list, HUBBS-Open, to stay up to date on the latest BGLTQ business opportunities for Harvard undergraduates.</p>
                      <p>We are looking forward to the upcoming academic year and recruiting season, and are working hard to ensure HUBBS will make a meaningful and lasting footprint on Harvard's campus and beyond.<p>
                      <p>Best,</p>
                      <p>The HUBBS Board</p>
                    </div>
                </div>
            </section>
            <!-- END SERVICES -->
            <!-- BEGIN ABOUT -->
            <section id="about" class="about odd">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>The HUBBS Board</h2>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row mg-bt-40">
                            <div class="col-md-2 col-md-offset-1  ">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="images/powelleddins.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>Powell Eddins</h3>
                                        <span>Co-President</span>
                                        <p>Powell is an Economics concentrator living in Pforzheimer House from Raleigh, North Carolina.</p>
                                        <div class="social">
                                            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                            <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="images/albertmurzakhanov.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>Albert Murzakhanov</h3>
                                        <span>Co-President</span>
                                        <p>Albert Murzakhanov is an Economics concentrator living in Pforzheimer House from New York, New York.</p>
                                        <div class="social">
                                            <a href="javascript:;"><i class="fa fa-pinterest"></i></a>
                                            <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="images/jordancanedy.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>Jordan Canedy</h3>
                                        <span>Technology Chair</span>
                                        <p>Jordan is an Applied Math concentrator living in Pforzheimer House from Medina, Ohio.</p>
                                        <div class="social">
                                            <a href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                            <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="images/kevinsun.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>Kevin Sun</h3>
                                        <span>External Relations Chair</span>
                                        <p>Kevin Sun is an Applied Math concentrator living in Dunster House from Charlottesville, Virginia.</p>
                                        <div class="social">
                                            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                            <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="images/mercedesflowers.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>Mercedes Flowers</h3>
                                        <span>Finance Chair</span>
                                        <p>Mercedes is a Government and Slavic Langauges & Literatures joint concentrator living in Eliot House from St. Petersburg, Florida.</p>
                                        <div class="social">
                                            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                            <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END ABOUT -->
            <!-- BEGIN STUDENTS -->
            <section id="students" class="students">
              <div class="row">
                <div class="col-md-12">
                  <div class="header-content">
                    <h2>Students</h2>
                  </div>
                </div>
                <div class="col-md-12 mg-bt-80">
                  <p>If you are a Harvard undergraduate interested in joining HUBBS, we encourage you to like and follow us on Facebook, join our email list, HUBBS-Open, and apply for the HUBBS-HBS Mentorship Program. If you have any questions, comments, or concerns, email us at hubbsboard@gmail.com, get in touch with one of our board members, or fill out the form on our "Contact Us" page.</p>
                  <h3>Harvard Business School Mentorship</h3>
                  <p>The HUBBS-HBS Mentorship Program helps to fulfill HUBBS’s mission of opening pathways for BGLTQ students interested in finance, consulting, technology, and other business sectors by matching undergraduates with mentors from the HBS LGBT Students Association who have had real work experience in the careers that undergraduates plan to pursue. Mentors help undergraduates to navigate their intended workplaces as BGLTQ students, as well as offer advice on interviews, resumes, MBA admissions, and other knowledge on how to be competitive in the business world. During the course of the HUBBS-HBS Mentorship Program, members will also have the opportunity to attend exclusive networking events with HUBBS sponsors, information sessions with HBS admissions officers, and social mixers with other program participants.</p>

<p>To apply, submit your resume to hubbsboard@gmail.com and fill out the form below. Applications will be accepted over the summer until Sunday, August 31 @ 11:59pm. We encourage applicants to apply as early as possible: those who apply earlier will receive a significant degree of admission preference over those who apply later.</p>
                </div>
              </div>
            </section>
            <!-- END STUDENTS -->
            <!-- BEGIN PORTFOLIO -->
            <section id="portfolio" class="portfolio odd">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-content">
                            <h2>Sponsors</h2>
                            <h3>Interested in working with HUBBS?</h3>
                        </div>
                    </div>
                    <div class="col-md-12 mg-bt-80">
                        <p>If your company or organization is interested in joining HUBBS as a sponsor or partner with us in any other way, please send us an email at hubbsboard@gmail.com, or fill out our contact form.</p>
                    </div>
                    <div class="col-md-12 mg-bt-80">
                        <div class="row portfolioContainer  text-center">
                            <div class="col-md-4 col-xs-6 portfolio-item websites">
                                <a class="popup" href="#akamai">
                                    <span class="project-hover">
                                        <span>Platinum
                                        </span>
                                    </span>
                                    <img src="images/akamai.jpg" alt="akamai">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item illustrations">
                                <a class="popup" href="#blackrock">
                                    <span class="project-hover">
                                        <span>Gold
                                        </span>
                                    </span>
                                    <img src="images/blackrock.jpg" alt="blackrock">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item websites">
                                <a class="popup" href="#palantir">
                                    <span class="project-hover">
                                        <span>Gold
                                        </span>
                                    </span>
                                    <img src="images/palantir.jpeg" alt="palantir">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END PORTFOLIO -->
            <!-- BEGIN CONSTITUTION -->
            <section id="constitution" class="constitution">
              <div class="row">
                <div class="col-md-12 mg-bt-80">
                  <div class="header-content">
                    <h2>Constitution</h2>
                    <h3>The Constitution of The Harvard College Queer Students & Allies Committee for Undergraduate Bisexual, Gay, Lesbian, Transgender, and Queer Business Students (HUBBS)</h3>
                  </div>
                  <div class="constitution-text">
<strong>Article I: Mission</strong>
<p>HUBBS is dedicated to opening pathways for BGLTQ students interested in finance, consulting, and technology to pursue their career goals.</p>
<strong>Article II: Membership</strong>
<p>A member of HUBBS that is in good standing is any Harvard University undergraduate student that expresses interest in HUBBS by either attending at least one meeting per year or staying subscribed to the HUBBS-Open email list.</p>
<strong>Article III: Officers</strong>
<p>All members are eligible to run for any officer position. The officer positions are as follows:</p>
<i>Co-Presidents (two positions in total)</i>
<p>The two Co-Presidents will serve as the chief executive officers of the group by leading meetings and having veto power (both Co-Presidents must agree to veto) on any issue with which the organization deals. The two Co-Presidents will also have jurisdiction over all constitutional changes, as well as all meetings and events that HUBBS pursues.</p>
<i>Finance Chair</i>
<p>The Finance Chair will write all grants for the organization and supervise all financial matters.</p>
<i>Technology Chair</i>
<p>The Technology Chair will be in charge of the structure of all electronic communication of the organization.</p>
<i>External Relations Chair</i>
<p>The External Relations Chair will be in charge of group outreach and booking spaces for events.
Tenure for all positions will be January 01-December 31 of each year.</p>
<strong>Article IV: Elections</strong>
<p>Elections for all positions will be held at a prudent time during the school year in the Mid November-Early December time period. All members are eligible to vote. The Co-Presidents will be in charge of all elections. A majority vote of the membership present at elections is all that will be required to elect a member to the board.</p>
                  </div>
                </div>
              </div>
            </section>
            <!-- END CONSTITUTION -->
            <!-- BEGIN CONTACT -->
            <section id="contact" class="contact odd">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>Contact Us</h2>
                        </div>
                        <p>Questions, comments, or concerns? Email us at hubbsboard@gmail.com or fill out the form below. We also encourage you to like us on Facebook and sign up for our email list, HUBBS-Open, to stay up to date on the latest BGLTQ business opportunities for Harvard undergraduates.</p>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <form role="form">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <input type="email" class="form-control col-md-6" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="subject">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-11">
                                    <textarea class="form-control" id="inputmessages" rows="10"></textarea>
                                </div>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-dark big">Send Message</button>
                        </form>
                    </div>
                    <div class="col-sm-6 col-md-4">
                    </div>
                </div>
            </section>
            <!-- END CONTACT -->
            <!-- BEGIN FOOTER -->
            <footer>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <strong>HUBBS</strong>&nbsp;2014 Created by <a href="javascript:;">Jordan Canedy</a>
                        </p>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->
        </div>
    </div>


    <div class="totop" id="backtotop">
        <span>
            <a href="#home" class="first sscroll"><i class="fa fa-angle-up"></i></a>
            <a href="#home" class="hover sscroll"><i class="fa fa-angle-up"></i></a>
        </span>
    </div>
  
    <!-- BEGIN COMPANY INFO POPUPS -->
    <div id="akamai" class="company-popup">
      <p>Insert Company Info Here</p>
    </div>
    <div id="blackrock" class="company-popup">
      <p>Insert Company Info Here</p>
    </div>
    <div id="palantir" class="company-popup">
      <p>Insert Company Info Here</p>
    </div>
    <!-- END COMPANY INFO POPUPS -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Jquery Source -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <!-- Nivo Light Box Source -->
    <script src="js/lib/nivo-lightbox.min.js"></script>
    <!-- Bootstrap Source -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Superslides Source -->
    <script src="js/lib/jquery.superslides.min.js"></script>
    <!-- Smoothscroll Source -->
    <script src="js/lib/smoothscroll.js"></script>
    <!-- Sudo Slider Source -->
    <script src="js/lib/jquery.sudoslider.min.js"></script>
    <!-- Mixitup Source -->
    <script src="js/lib/jquery.mixitup.min.js"></script>
    <!-- Back to Top Source -->
    <script src="js/lib/jquery.backtotop.js"></script>
    <!-- Backstretch Source -->
    <script src="js/lib/jquery.backstretch.min.js"></script>
    <!-- CarouFredSel Source -->
    <script src="js/lib/jquery.carouFredSel-6.2.1-packed.js"></script>
    <!-- Mobile Responsive Javascript -->
    <script src="js/lib/jquery.mobileresponsive.js"></script>
    <!-- Google Map Source -->
    <script src="js/lib/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <!-- Main Action Javascript -->
    <script src="js/main.js"></script>
</body>

</html>